body {
    background-color: #0a1128;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    padding-top: 100px;
}
